body{
    background-image: url(https://png.pngtree.com/background/20230611/original/pngtree-three-trees-stand-in-front-of-a-grass-overcast-cloudy-sky-picture-image_3167327.jpg);
    background-repeat: repeat;
}
.navbar{
    width: 100%;
    height: 70px;
    /* background-color: blue; */
    display: flex;
     flex-direction: row;
    justify-content: space-evenly;
}
.navbar a{
   text-decoration: none;
   color: brown;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar a:hover{
    color: springgreen;
}
.search-Button{
    height: 30px;
    color: brown;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}